.slick-dots  {
  bottom: 15px;
}
.slick-dots li {
  margin: 0;
}
.slick-dots li button:before {
  color: white; 
  font-size: 12px; 
  opacity: 1; 
}

.slick-dots li.slick-active button:before {
  color: white; 
  font-size: 16px; 
  opacity: 1; 
}

.slick-prev:before, .slick-next:before {
  font-size: 40px;
}

.slick-prev {
  left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 100;
}
.slick-next {
  right: 30px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.slick-slider:hover .slick-prev,
.slick-slider:hover .slick-next {
  opacity: 1;
}